@use 'src/styles/vars';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
    &-login {
        text-decoration: none;
        color: vars.$primary;
    }

    &-logo {
        margin-top: 3rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
        width: 50rem;
    }

    &-title {
        padding-top: 2rem;
        color: vars.$primary;

    &-big {
        color: vars.$secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-small {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

}
}