@use 'src/styles/vars';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &-btn {
        margin: 5rem;
    }
    &-message {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: vars.$danger; 
        padding-top: 1.5rem;
        
       &-program {   
        display: flex;   
        justify-content: center;
        font-size: 1.5rem;
        padding: 0.3rem;  
        }
    }
    
    &-login {
        text-decoration: none;
        color: vars.$primary;
    }

    &-logo {
        margin-top: 3rem;
        padding-top: 3rem;
        width: 50rem;
        font-size: 10rem;
    }

    &-title {
        margin-top: 1rem;
        color: vars.$primary;
        
    &-big {
        color: vars.$secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;    
    }

    &-small {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    &-login {
        margin: 5rem;
        padding: 2rem;
    }
}

&-description {
    font-size: 1.3rem;
    font-weight: bold;
    color: vars.$success;
    padding-bottom: 10rem;
}

&-description2 {
    align-items: center;
    font-size: 1rem;
    font-weight: lighter;
    color: vars.$primary;
    padding-bottom: 10rem;
    max-width: 30rem;
}
}

.home-message-picture {
    width: 50rem;
    padding: 2rem;
}