@use 'src/styles/vars';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
        margin-top: 3rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
        width: 50rem;
    }

    &-title {
        margin-top: 1rem;
        color: vars.$primary;
        
    &-big {
        color: vars.$secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;    
    }

    &-small {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    &-login {
        margin: 5rem;
        padding: 2rem;
    }
}
}