.Articles {
    margin : 11rem 2rem 2rem 2rem;
    &-card{
        display: inline-flex;
    &-description{
        max-height: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &-button{
        margin-bottom: .5rem;
        bottom: 0;
        position: absolute;
    }
}
}
