@use 'src/styles/vars';

.Articles {
    margin : 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        color: vars.$secondary;
        padding: 1rem;
    }
    &-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-photo{
        height: 15rem;
    }
    &-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5rem;
        border: 10px solid;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-color: vars.$danger;

        &-title{
            color: vars.$primary;
            font-size: large;
            font-weight: 800;
            text-decoration: none;
        }

        &-description{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-buttons{
                margin-bottom: .5rem;
                bottom: 0;
                position: absolute;
    }
}
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}