@use 'src/styles/vars';

.card{ 
    &-article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &-title{
            color: vars.$primary;
            max-width: 30rem;
            padding-bottom: 5rem;
        }
    }
    &-description{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: vars.$primary;
    }

    &-img{
        max-width : 100%;
        height : auto;
    }

}

.carousel {
    padding: 3rem;
    display: flex;
    justify-content: center;

    &-inner {
        border: 10px solid;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-color: vars.$danger;
    }
}

.article-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}
