@use 'src/styles/vars';

.card-modify{
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 15px;
        &-modif{
            margin-right: 20px;
        }
    }
}