@use 'src/styles/vars';

.card-modify{
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &_body{

        text-align: center;
    }
    &_img{
        height:30vh
    }
    &_btn{
      position: absolute;
      bottom: 5%;
      right: 18%;
      
    }
}