@use 'src/styles/vars';

.card{
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &-btn{
            text-align: center;
        
    }
}