.Message {
    margin-top: 6rem;
    margin-bottom: 3rem;
    &-alert {
margin-left: 44rem;
display: flex;
justify-content: center;
    };

    &-welcome {
        justify-content: center;
        align-items: center;
    }

    &-fitworkers {
        justify-content: center;
    }
    &-logo {
     width: 28rem;
     margin-left: 44rem;
     margin-bottom: 3rem;

    };
};

.form {
    margin: 10rem;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-button {
        width: 10rem;
        margin: 1rem;
    }
}