.Message {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    };

    &-welcome {
        justify-content: center;
        align-items: center;
    }

    &-fitworkers {
        justify-content: center;
    }
    &-logo {
     width: 28rem;
     justify-content: center;

    };
};

.inscription {
    padding-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    // width: 50%;
    &-form{
        // flex-direction: column;
        width: 50%;

        &_btn {
            display: flex;
            justify-content: center;
            margin: 10px;
        }
    }
}
@media (max-width: 600px) {
    .inscription-form{
        width: 90%;
    }
}
