.Message {
    margin-top: 6rem;
    margin-bottom: 3rem;

    &-alert {
margin-left: 44rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    };

    &-welcome {
        justify-content: center;
        align-items: center;
    }

    &-fitworkers {
        justify-content: center;
    }
    &-logo {
     width: 28rem;
     margin-top: 20rem;
     margin-left: 44rem;
     margin-bottom: 3rem;
     justify-content: center;

    };
};

.inscription {
    padding-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &-button {
        max-width: 15rem;
        width: auto;
        margin: .5rem;
    }
}