@use 'src/styles/vars';

.program {

    margin:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &-title {
        color: vars.$dark;
    }

    &-input{
        color: vars.$dark;

        &-article{
            background-color: vars.$light;
            display: flex;
            align-items: center;
        }
        &-bin{
            margin-right: 1rem;
            color: vars.$primary;
    }
    }
}

.message-toast {
    font-size: 50px;
    color: vars.$dark;
}