@use 'src/styles/vars';

.favorite {

    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top:2rem;
    
    &-title {
        color: vars.$secondary;
    }

}