.Contact {
    margin: 11rem 2rem 2rem 2rem;
    padding-top: 2rem;
/*     display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    
    &-button {
        max-width: 15rem;
        width: auto;
        margin: .5rem;
    }
}