.Profil {
    margin: 11rem 2rem 2rem 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    &-button {
    width: 10rem;
    justify-content: center;
}
}

.mb-3 {
    flex-direction: column;
}
