.Profil {
    margin: 11rem;
    padding-top: 2rem;
/*     display: flex;
    flex-direction: column;
    justify-content: center; */

    &-button {
    width: 10rem;
    justify-content: center;
}
}
/* .mb-3 {
    display: flex;
    flex-direction: column;

} */