@use '../../styles/vars';

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid vars.$primary;
    &-logo {
        width: 10rem;
    }

};

.footer-link {
    display: flex;
    
    &-logo {
        width: 3rem;
        align-self: center;
        margin: 2rem;
    }

}


