@use '../../styles/vars';

.footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid vars.$info;
    &-logo {
        width: 10rem;
    }
};

.footer-link {
    color: vars.$primary;
    display: flex;
    align-self: center;
    margin: 1rem;
    font-size: x-large;
}


